{% extends 'base.html' %}
{% block content %}

<div class="note-content">
    <b>Admin:</b> Korompay Bertalan <br>
    <b>Verzió</b> {{ version }}  <a style="color: var(--md-sys-color-primary);" href="https://github.com/korompayb/PyMD">Github repo</a><br>
    
    Abban az esetben ha a <b>felhasználó megsérti a szabályokat, </b> a fiókját felfüggeszthetjük.
    <br><b>Hibák esetén</b> kérjük, lépjen kapcsolatba az adminisztrátorral.
    <br><br>© 2024 Minden jog fenntartva.

    
</div>
<br>
    Nincs több adat



{% endblock %}
